<body class="notransition">
  <!-- Header -->
  <%= render 'admin/common/header' %>
  <!-- Header End -->
  <!-- Left Side Navigation -->    
  <%= render 'admin/common/menu' %>
  <!-- Left Side Navigation End -->
  <!-- Content -->
  <div id="wrapper" class="full">
    <div id="mapView" class="min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
      <div id="content" class="max">
        <div class="tables">
          <h4>廣告橫幅</h4>                
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Banners</div>
                <div class="panel-body">
                  <%= bootstrap_form_for @banner, url: admin_banner_path(@banner) do |n| %>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">上傳橫幅</label>
                      <div class="col-sm-10">
                          <%= n.text_field :name %>
                          <%= n.file_field :image %>
                          <%= n.submit '更新', class: :"btn btn-green" %>
                          <%= link_to('返回', admin_banners_path, class: :"btn btn-green") %>
                      </div>                                        
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>                
        </div>
      </div>
    <div class="clearfix"></div>
  </div>
  <!-- Content End -->
</body>