<body class="notransition">
  <!-- Header -->
  <%= render 'admin/common/header' %>
  <!-- Header End -->
  <!-- Left Side Navigation -->    
  <%= render 'admin/common/menu' %>
  <!-- Left Side Navigation End -->
  <!-- Content -->
  <div id="wrapper" class="full">
      <div id="mapView" class="min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
      <div id="content" class="max">
          <div class="tables">
              <h4>商品管理</h4>
              <div class="panel panel-default">
                  <div class="panel-heading">清單</div>
                  <div class="row tableContainer">
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                          <%= link_to new_admin_product_path, class: :"btn btn-sm btn-yellow mb5" do %>
                            <span class="fa fa-edit"></span>新增</a>
                          <% end %>

                      </div>
                  </div>
                  <div class="table-overflow">
                      <table class="table" id="inboxTable">
                          <thead>
                              <tr>                                  
                                  <th><span class="fa fa-sort sortIcon"></span><span class="fa fa-caret-up sortIconAsc"></span><span class="fa fa-caret-down sortIconDesc"></span> 商品名稱</th>
                                  <th><span class="fa fa-sort sortIcon"></span><span class="fa fa-caret-up sortIconAsc"></span><span class="fa fa-caret-down sortIconDesc"></span> 商品價格</th>
                                  <th><span class="fa fa-sort sortIcon"></span><span class="fa fa-caret-up sortIconAsc"></span><span class="fa fa-caret-down sortIconDesc"></span> 動作</th>
                              </tr>
                          </thead>
                          <tbody class="table">
                          <% @products.each do |i| %>
                              <tr>
                                  <td><%= i.productname %></td>
                                  <td><%= i.price %></td>
                                  <td><%= link_to edit_admin_product_path(i), class: :"btn btn-sm btn-blue mb5" do %>
                                      <span class="fa fa-edit"></span>編輯</a>
                                      <% end %>
                                  </td>
                              </tr>
                          <% end %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
  <!-- Content End-->
</body>